<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="jumbotron">
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div>
            <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("MMMM d. yyyy")</abbr>
            @Blog.CommentEngine.RenderCommentCountSection(Model, HttpContext.Current)
            @Categories()
        </div>
    </header>

    <div itemprop="articleBody">@Html.Raw(Model.Content)</div>

    @if (Blog.CurrentPost != null)
    {
        @Blog.CommentEngine.RenderCommentSection(Model, HttpContext.Current)
    }
</article>

@helper Categories()
{
    if (Model.Categories.Length > 0)
    {
        <ul class="categories">
            <li><em class="glyphicon glyphicon-tags"></em> Posted in: </li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}